@import "../../styles/typography";
@import "../../styles/variables";

$scroll-button-width: $grid-gutter-x;

.header {
  grid-column: 1 / -1;
  max-width: 100%;

  display: flex;
  flex-wrap: wrap;

  padding-top: 2rem;
  margin-bottom: $grid-gutter-x;
}

.header__title {
  @include font-styles("h3");
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: $cobalt;

  padding: .3em .5em .25em;
  margin: 0 auto 1.5rem auto;
}

.navigation {
  flex: 0 0 100%;

  height: 3.5rem;
  overflow: hidden;

  border-bottom: 1px solid $mercury;
  margin-left: auto;
  margin-right: auto;

  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    pointer-events: none;

    position: absolute;
    height: 100%;
    width: $scroll-button-width * .75;
    top: 0;
    z-index: 10;

    opacity: 0;
    visibility: hidden;

    transition: .2s ease;
    transition-property: opacity, visibility;
  }

  &::before {
    left: $scroll-button-width;
    background: linear-gradient(to right, $white, transparent);
  }

  &::after {
    right: $scroll-button-width;
    background: linear-gradient(to left, $white, transparent);
  }
}

.navigation--scrollable-left {
  &::before {
    opacity: 1;
    visibility: visible;
  }
}

.navigation--scrollable-right {
  &::after {
    opacity: 1;
    visibility: visible;
  }
}

.navigation__scroll-button {
  position: absolute;
  top: 0;
  height: 100%;
  width: $scroll-button-width;

  padding: 0;
  z-index: 15;

  background: none;
  border: none;

  cursor: pointer;

  opacity: 0;
  visibility: hidden;

  transition: .2s ease;
  transition-property: opacity, visibility;

  svg {
    width: 1.25rem;
  }
}

.navigation__scroll-button--left {
  left: 0;

  .navigation--scrollable-left & {
    opacity: 1;
    visibility: visible;
  }
}

.navigation__scroll-button--right {
  right: 0;

  .navigation--scrollable-right & {
    opacity: 1;
    visibility: visible;
  }
}

.navigation__list {
  display: flex;
  max-width: calc(100% - #{2 * $scroll-button-width});
  box-sizing: content-box;
  height: 100%;
  padding-bottom: 2rem;
  margin: 0 auto;

  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.navigation__item {
  @include font-styles("h5");
  letter-spacing: 0.025em;
  white-space: nowrap;
  margin-right: 2.25rem;

  &::last-child {
    margin-right: 0;
  }
}

.navigation__link {
  display: block;
  padding: 1rem 0 0.8125rem;
  border-bottom: 3px solid transparent;

  transition: .2s ease border-color;

  &:hover {
    border-bottom-color: $sunglow;
  }
}

.navigation__link--active {
  border-bottom-color: $sunglow;
}
