@import "../../styles/typography";
@import "../../styles/variables";

.weather {
  grid-column-end: span 12;

  margin-bottom: 2rem;
  margin-left: -$grid-gutter;
  margin-right: -$grid-gutter;
  padding: 0 $grid-gutter;

  background: $cobalt;
  color: $white;

  display: grid;
  grid-template-columns: minmax(0, $small-clamp);
  justify-content: center;

  @include breakpoint(medium) {
    grid-column-end: span 6;
    margin-left: 0;
    margin-right: 0;
    padding: 0 $grid-gutter-medium;
  }

  @include breakpoint(large) {
    display: flex;
    flex-direction: row;
    justify-content: normal;
  }
}

.weather__today {
  box-sizing: border-box;
  flex: 0 0 50%;
  background: $cobalt;
  color: $white;

  padding: $grid-gutter 0;

  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-auto-rows: min-content;
  grid-template-areas: "title title" "temparatur icon" "condition icon";

  @include breakpoint(medium) {
    flex: 0 0 auto;
    padding: $grid-gutter-medium 0 0;
  }

  @include breakpoint(large) {
    flex: 0 0 50%;
    padding: $grid-gutter-medium 0;
  }
}

.weather__forecast {
  box-sizing: border-box;
  flex: 0 0 50%;
  padding: $grid-gutter 0;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include breakpoint(medium) {
    flex: 0 0 auto;
    padding: 0 0 $grid-gutter-medium;
  }

  @include breakpoint(large) {
    flex: 0 0 50%;
    padding: $grid-gutter-medium 0;
  }
}

.weather__title {
  @include font-styles("body");
  font: inherit;

  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  width: min-content;
  background: $white;
  color: $cobalt;

  margin-bottom: 1.9rem;
  padding: .25em .5em;

  grid-area: title;
}

.weather__icon {
  display: block;
  width: 1.5rem;
  fill: currentColor;

  .forecast & {
    margin-right: .75rem;
  }
}

.weather__icon--main {
  grid-area: icon;

  width: 3.5rem;
  margin-left: 1.5rem;
}

.weather__temparatur {
  @include font-styles("h2");
  font-family: $font-family-heading;

  grid-area: temparatur;
}

.weather__condition {
  @include font-styles("h2");
  font-family: $font-family-heading;

  grid-area: condition;
}

.forecast {
  @include font-styles("small");
  display: block;
  list-style: none;
}

.forecast__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $mercury;
  padding: .5em;

  &:first-child {
    border-top: 1px solid $mercury;
  }
}

.forecast__week-day {
  flex-basis: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-right: .5rem;
}

.forecast__temparatur {
  flex-basis: 2rem;
}

.forecast__label {
  
}