@import "../../styles/typography";
@import "../../styles/variables";

.article {
  @include small-clamp();
  position: relative;
  padding-bottom: 0.875rem;
  border-bottom: 1px solid $mercury;
  margin-bottom: 2rem;

  grid-column-end: span 12;

  display: flex;
  flex-direction: column;

  @include breakpoint(medium) {
    grid-column-end: span 6;
  }

  @include breakpoint(large) {
    grid-column-end: span 4;
  }
}

.article--main {
  grid-column-end: span 12;

  @include breakpoint(medium) {
    grid-column-end: span 7;
  }

  @include breakpoint(large) {
    grid-column-end: span 8;
  }
}

.article--sub {
  grid-column-end: span 12;

  @include breakpoint(medium) {
    grid-column-end: span 5;
  }

  @include breakpoint(large) {
    grid-column-end: span 4;
  }
}

.article--category-main {
  grid-column-end: span 12;

  @include breakpoint(medium) {
    grid-column-end: span 6;
  }
}

.article--column {
  grid-column-end: span 12;
  display: grid;
  grid-gap: 0 $grid-gutter;
  grid-template-columns: 1fr;
  grid-template-areas: "image" "type" "title" "footer";

  @include breakpoint(medium) {
    grid-gap: 0 $grid-gutter-medium;
    grid-column-end: span 6;  
  }

  @include breakpoint(large) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image type" "image title" "image footer";
  }
}

.article__label {
  @include font-styles("small");
  background: darken($gamboge, 7%);
  color: $white;

  position: absolute;
  top: $grid-gutter / 2;
  left: $grid-gutter / 2;

  padding: .45em .75em .55em;

  line-height: 1;
  letter-spacing: 0.02em;

  @include breakpoint(medium) {
    top: $grid-gutter-medium / 2;
    left: $grid-gutter-medium / 2;

    padding: .25em .75em .35em;
  }
}

.article__image-wrapper {
  position: relative;
  height: 0;
  padding-bottom: percentage(297 / 527);
  margin-bottom: 1.25rem;

  .article--sub & {
    @include breakpoint(medium) {
      padding-bottom: percentage(800 / 1200);
    }
  }

  .article--column & {
    grid-area: image;
    margin-bottom: 0;
    margin-bottom: 1.25rem;
    
    @include breakpoint(large) {
      margin-bottom: 0;
    }
  }
}

.article__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article__title {
  @include font-styles("h3");
  margin-bottom: 0.6rem;

  .article--main & {
    @include font-styles("h1");
  }

  .article--sub &,
  .article--category-main & {
    @include font-styles("h2");
  }

  .article--column & {
    grid-area: title;
  }
}

.article__description {
  @include font-styles("body");
  margin-bottom: .75rem;

  .article--main & {
    margin-bottom: 2rem;
  }

  @include breakpoint(medium) {
    margin-bottom: 2rem;
  }
}

.article__footer {
  @include font-styles("small");
  color: $tundora;
  letter-spacing: 0.02em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: auto;

  .article--column & {
    grid-area: footer;
  }
}

.article__type {
  // @include font-styles("body");
  font-weight: 900;
  text-transform: uppercase;
  color: $cobalt;
  letter-spacing: 0.04em;

  margin-bottom: 0.6rem;
}

.article__meta {
}