@import "../../styles/typography";
@import "../../styles/variables";

$line-space: 1rem;

.category {
  @include small-clamp();
  @include font-styles("h2");
  grid-column-end: span 12;

  border-top: 1px solid $tundora;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-top: $line-space;
}

.category__word-wrapper {
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: -.25rem;
    top: - $line-space;
    height: .375rem;
    background-color: $sunglow;
  }
}