@import "./variables";
@import "./mixins";
@import "./typography";

.container {
  background: $white;
  max-width: $max-width + 2 * $grid-gutter;
  margin: 0 auto;
  padding: 0 $grid-gutter;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 $grid-gutter;

  @include breakpoint(medium) {
    max-width: $max-width + 2 * $grid-gutter-medium;
    padding: 0 $grid-gutter-medium;
    grid-gap: 0 $grid-gutter-medium;
  }
}
