$breakpoints: (
  small: 0rem,
  medium: (768 / 16) * 1rem,
  large: (1024 / 16) * 1rem,
);

$max-width: 1024 / 16 * 1rem;
$small-clamp: 32rem;

$grid-gutter: 20 / 16 * 1rem;
$grid-gutter-medium: 30 / 16 * 1rem;


/* Colors */
$black: #000000;
$white: #ffffff;
$gallery: #efefef;
$mercury: #E1E1E1;
$tundora: #4E4E4E;

/* Yellow */
$sunglow: #FFBA30;
$gamboge: #EDA515;

/* Blue */
$cobalt: #0040A1;
